@use "@/shared/styles/abstracts/text-styles" as text-styles;

.title {
  @include text-styles.text-medium-semibold;
  margin-bottom: 2rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  margin-bottom: 1.6rem;
  min-width: 270px;
  width: 40vw;
  max-width: 400px;
  label {
    @include text-styles.text-small-semibold;
  }
}

.toggleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.4rem;

  label {
    @include text-styles.text-small-semibold;
  }

}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}