.sidebar {
  max-width: 288px;
  border-right: 1px solid var(--border);
  padding: 1.5rem 1rem;
}
.sidebar .nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.wrapper .title {
  color: var(--color-category);
  font-size: 0.875rem;
  text-transform: uppercase;
}
.wrapper .collapseExpandBtn {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.wrapper .arrowSvg {
  stroke: var(--arrow);
}
.wrapper .arrowSvg:hover {
  stroke: var(--arrow-hover);
}

.item {
  border-radius: 0.5rem;
  color: var(--color-primary);
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.625rem 0.75rem;
  margin-bottom: 0.25rem;
  cursor: pointer;
  transition: background-color 0.1s linear;
}
.item.select {
  background-color: var(--bg-accent-focus);
  border-radius: 0.5rem;
  border-left: 0.25rem solid;
  color: var(--color-accent);
}
.item:not(.select):hover {
  background-color: var(--bg-hover-primary);
}

.categoryGroup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.625rem 0.75rem;
}
.categoryGroup .categoryGroupTitle {
  color: var(--color-primary);
  font-size: 0.875rem;
}
.categoryGroup .arrowSvg {
  stroke: var(--arrow);
  vertical-align: bottom;
  cursor: pointer;
}
.categoryGroup .arrowSvg:hover {
  stroke: var(--arrow-hover);
}

.flagContainer {
  max-width: 100%;
  margin-left: 0.75rem;
}
.flagContainer .flagData {
  margin-bottom: 0.75rem;
}
.flagContainer .flagData .wrapperFlagStat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
.flagContainer .flagData .wrapperFlagStat .flag {
  max-width: fit-content;
  border: 1px solid var(--border-flag);
  border-radius: 0.4rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
}
.flagContainer .flagData .wrapperFlagStat .flag:nth-child(1) {
  background-color: rgba(139, 134, 128, 0.08);
  border-left: 4px solid #8b8680;
  color: #8b8680;
}
.flagContainer .flagData .wrapperFlagStat .flag:nth-child(2) {
  background-color: rgba(242, 230, 216, 0.08);
  border-left: 4px solid #f2e6d8;
  color: #f2e6d8;
}
.flagContainer .flagData .wrapperFlagStat .flag:nth-child(3) {
  background-color: rgba(169, 220, 227, 0.08);
  border-left: 4px solid #a9dce3;
  color: #a9dce3;
}
.flagContainer .flagData .wrapperFlagStat .flag:nth-child(4) {
  background-color: rgba(255, 147, 126, 0.08);
  border-left: 4px solid #ff937e;
  color: #ff937e;
}
.flagContainer .flagData .wrapperFlagStat .flag:nth-child(5) {
  background-color: rgba(0, 138, 115, 0.08);
  border-left: 4px solid #008a73;
  color: #008a73;
}
.flagContainer .flagData .wrapperFlagStat .amountFlag {
  align-self: center;
  background-color: var(--bg-amount-flag);
  border-radius: 0.5rem;
  color: var(--color-muted);
  font-weight: 600;
  padding: 0.2rem 0.375rem;
}
.flagContainer .flagData .progressBar {
  width: 100%;
  height: 6px;
  background-color: var(--bg-progress-bar);
  border-radius: 1rem;
}
.flagContainer .flagData .progressBar .progress {
  height: 100%;
  width: 30%;
  background-color: #8B8680;
  border-radius: 1rem;
}

/*# sourceMappingURL=Sidebar.module.css.map */
