@use "../../../shared/styles/abstracts/variables" as var;

.sidebar {
    height: calc(100vh - 63px);

    .nav {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        height: 100%;
        min-height: 100vh;
        min-width: 288px;
        max-width: 288px;

        overflow-y: auto;
        scrollbar-gutter: stable;

        border-right: 1px solid var(--border);

        padding: 2.4rem 1.6rem 8rem 1.6rem;
    }
}

.wrapperInput {
    display: flex;
    border-radius: .8rem;

    transition: outline-color .2s ease-in-out;
    outline: 1px solid transparent;

    &:has(input:focus) {
        outline: 1px solid var(--input-focus);
    }
}

.item {
    border-radius: .8rem;

    color: var(--color-primary);
    font-size: 1.4rem;
    font-weight: 600;

    padding: 1rem 1.2rem;
    margin-bottom: .4rem;

    cursor: pointer;

    transition: background-color .1s linear;

    &.select {
        background-color: var(--bg-accent-focus);
        border-radius: .8rem;
        border-left: .4rem solid;

        color: var(--color-accent);
    }

    &:not(.select):hover {
        background-color: var(--bg-hover-primary);
    }
}

.wrapper {
    display: flex;
    align-items: center;
    gap: .8rem;

    border-radius: .8rem;

    padding: 1rem 1.2rem;

    transition: background-color .1s linear;

    &, .addSvg {
        cursor: pointer;
    }

    &:hover {
        background-color: var(--bg-hover-primary);
    }

    .addSvg {
        stroke: var(--color-accent);
    }
}

.flagContainer {
    max-width: 100%;
    margin-left: 1.2rem;

    .flagData {
        margin-bottom: 1.2rem;

        .wrapperFlagStat {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.6rem;

            margin-bottom: 1.2rem;

            .flag {
                max-width: fit-content;
                border: 1px solid var(--border-flag);
                border-radius: .6rem;

                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 1.4rem;
                font-weight: 600;
                outline: #1f94f3;
                padding: .4rem .8rem;
            }

            .amountFlag {
                align-self: center;
                background-color: var(--bg-amount-flag);
                border-radius: .8rem;

                color: var(--color-muted);
                font-weight: 600;
                font-size: 1.6rem;

                padding: .4rem .6rem;
            }
        }

        .progressBar {
            width: 100%;
            height: 6px;
            background-color: var(--bg-progress-bar);
            border-radius: 1.6rem;

            .progress {
                height: 100%;
                width: 30%;
                border-radius: 1.6rem;
            }
        }
    }
}