@use "../../../shared/styles/abstracts/variables" as var;

.sidebar {
    max-width: 255px;
    border-right: 1px solid var(--border);

    padding: 1.5rem 1rem;

    .nav {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}

.section {

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: .5rem;

        .title {
            color: var(--color-category);
            font-size: .75rem;
            text-transform: uppercase;
        }

        .collapseExpandBtn {
            width: 16px;
            height: 16px;

            cursor: pointer;
        }

        .arrowSvg {
            stroke: var(--arrow);

            &:hover {
                stroke: var(--arrow-hover);
            }
        }
    }

    .item.select {
        background-color: var(--bg-accent-focus);
        border-radius: .5rem;
        border-left: 0.25rem solid;

        color: var(--color-accent);
    }

    .item {
        border-radius: .5rem;

        color: var(--color-primary);
        font-size: .875rem;
        font-weight: 600;

        padding: .625rem .75rem;
        margin-bottom: .25rem;

        cursor: pointer;

        transition: background-color .1s linear;

        &:not(.select):hover {
            background-color: var(--bg-hover-primary);
        }
    }
}