.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: .8rem;

    .title {
        color: var(--color-muted);
        font-size: 1.4rem;
        text-transform: uppercase;
    }
}

.arrowSvg {
    stroke: var(--arrow);

    transition: all .2s ease-in-out;

    &:hover {
        stroke: var(--arrow-hover);
    }

    &.close {
        transform: rotate(-90deg);
    }
}

.categoryGroup {
    display: flex;
    align-items: center;
    gap: .8rem;

    padding: 1rem 1.2rem;

    .categoryGroupTitle {
        color: var(--color-primary);
        font-size: 1.4rem;
    }
}