@use "../abstracts/variables" as var;
@use "../abstracts/theme-vars" as theme;

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    background-color: transparent;
    border: none;

    list-style: none;

    font-family: "Montserrat", sans-serif;
}

input:focus {
    outline: none;
}

body.light {
    @include theme.theme-vars(var.$light-theme);
}

body.dark {
    @include theme.theme-vars(var.$dark-theme);;
}

body {
    transition: background-color .2s ease-in-out;
    background-color: var(--bg-primary);
}