@use "../../../shared/styles/components/ErrorMessage.module" as errorMes;

.wrapper {
    text-align: start;
    margin-bottom: 1.6rem;

    .label {
        display: block;
        color: var(--color-primary);
        font-size: 1.4rem;
        font-weight: 600;

        margin-bottom: .8rem;
    }
}