@use "../../../../shared/styles/abstracts/text-styles" as text-styles;

.controlsSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-height: 40px;
    width: 100%;

    margin-bottom: 1.6rem;

    .title {
        @include text-styles.text-heading2;
    }

    .controlsGroup {
        display: flex;
        gap: 2.5rem;
    }
}

.cardsSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.5rem;
}