@use "sass:map";
@use "../abstracts/variables" as var;

.headerContainer {
    background-color: var(--bg-secondary);
    padding: 0.75rem 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 11.563rem;
}

.headerTitle {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .logoSvg {
        fill: var(--svg-primary);

    }
}