.layoutControls {
    display: flex;
    align-items: center;
    gap: .5rem;
    max-height: 35px;

    border: 1px solid var(--border);
    border-radius: .5rem;

    padding: .4rem;

    .iconLayoutList,
    .iconLayoutGrid {
        stroke: var(--control-layout-disabled);

        &.active {
            stroke: var(--control-layout);
        }
    }
}