@use "../../../../src/shared/styles/abstracts/text-styles" as text-styles;
@use "../../../../src/shared/styles/components/filters" as dropdown;

.filterContainer {
  position: relative;
  width: clamp(150px, 100%, 300px);

  .filterWrapper {
    @include dropdown.filter;
  }
}

.filtersList {
  z-index: 100;

  @include dropdown.filterMenu;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  padding: 1.6rem;
}
