.collapseExpandBtn {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.addBtn {
    font-size: 1.4rem;
    color: var(--color-accent);
    font-weight: 500;
    cursor: pointer;
}

.addCategoryBtn {
    border-radius: 0 .8rem .8rem 0;
    background-color: var(--button);

    font-size: 2.4rem;
    color: var(--color-add-button);

    padding: 0 1.3rem;

    transition: background-color .1s ease-in-out;

    cursor: pointer;

    &:hover {
        background-color: var(--button-hover);
    }
}