@use "../styles/abstracts/text-styles" as text-styles;

.collapseExpandBtn {
    width: 16px;
    height: 16px;
}

.addBtn {
    @include text-styles.text-small-accent;
}

.addCategoryBtn {
    border-radius: 0 .8rem .8rem 0;
    background-color: var(--button);

    // Сюда svg +

    padding: 0 1.3rem;

    transition: background-color .1s ease-in-out;

    &:hover {
        background-color: var(--button-hover);
    }
}

.logoutBtn {
    display: flex;
    align-items: center;
    gap: .6rem;
    width: 100%;

    @include text-styles.text-small-danger;

    padding: 1.4rem 1.4rem;

    &:hover {
        background-color: var(--bg-hover-primary);
    }
}

.headerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 38px;
    border-radius: 100%;
    padding: .8rem;
    transition: background-color .1s ease-in-out;
    &:hover {
        background-color: var(--bg-hover-primary);
    }
}
