@use "../styles/abstracts/text-styles" as text-styles;

.inputCategory {
    width: 100%;
    border-radius: .8rem 0 0 .8rem;

    border: 1px solid var(--border);
    border-right: none;

    @include text-styles.text-medium-semibold-oblique;

    padding: .8rem 1.3rem;
}

.inputSearch {
    width: 100%;
    height: 38px;
    border-radius: .8rem;
    border: 1px solid var(--border);
    background-color: var(--input);

    @include text-styles.text-placeholder-bold;

    padding: .8rem 1.6rem .8rem 4rem;

    transition: outline-color .2s ease-in-out;
    outline: 1px solid transparent;

    &:focus {
        outline: 1px solid var(--input-focus);
    }
}

.checkbox {
    position: relative;
    display: inline-block;
    vertical-align: text-bottom;
    appearance: none;

    width: 16px;
    height: 16px;
    border: 1px solid var(--border-accent);
    border-radius: .3rem;

    cursor: pointer;

    outline: 4px solid transparent;
    transition: outline-color .2s ease-in-out;

    &:checked {
        background-color: var(--bg-accent);
        outline: 4px solid hsla(267, 83%, 63%, 0.2);

        &::after {
            content: "";
            position: absolute;

            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);

            width: 4px;
            height: 8px;
            border: solid var(--checkbox-checked);
            border-width: 0 2px 2px 0;
        }
    }
}

.inputReg {
    height: 40px;
    width: 100%;
    border: 1px solid var(--border);
    border-radius: .6rem;

    color: var(--color-primary);
    font-size: 1.4rem;
    font-weight: 600;

    padding: .8rem 1.2rem;

    &.error {
        border: 1px solid var(--color-danger);
    }
}

.inputAddMovie {
    height: 40px;
    width: 100%;

    border: 1px solid var(--border);
    border-radius: .5rem;

    color: var(--color-primary);
    font-size: 1.6rem;
    font-weight: 600;

    padding: 1rem;
}

.imageInput {
    display: block;
    width: 100%;
    background-color: var(--input);
    border: 1px solid var(--border);
    border-radius: 0.5rem;

    font-size: 1.4rem;
    color: var(--color-primary);

    padding: 0.5rem;

    &:focus {
        outline: 2px solid var(--input-focus);
    }
}

.hiddenInput {
    display: none;
}