.popoverContent {
  position: absolute;
  background-color: var(--bg-primary);
  color: var(--color-primary);
  border-radius: 1.4rem;
  box-shadow: 0 4px 16px var(--border);
  border: 1px solid var(--border);
  z-index: 1000;
  overflow: hidden;
}

.popoverUserMenu {
  top: 8px;
  right: 0;
  width: 100px;
  min-width: 200px;
}