.select {
    border: 1px solid var(--border);
    height: fit-content;

    .dropdownTitleWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;
        padding: .8rem;

        .dropdownTitle {
            color: var(--color-primary);
            font-size: 1.6rem;
            padding-right: .5rem;
        }

        .chevronDown {
            display: inline-block;
            vertical-align: baseline;
            stroke: var(--arrow);
        }
    }

    .listItem, .label {
        cursor: pointer;
        overflow: hidden;
        height: 0;

        &.open {
            overflow: visible;
        }
    }

    .item {
        color: var(--color-primary);
        padding: .8rem;

        &:hover {
            background-color: var(--bg-hover-select);
        }

        .label {
            vertical-align: baseline;
            font-size: 1.6rem;
            padding-left: .5rem;
        }
    }
}