.selectContainer {
    position: relative;
}

.select {
    border: 1px solid var(--border);
    border-radius: 1.2rem;

    padding: 1rem 3.2rem 1rem 1.6rem;

    transition: all 0.3s ease;
    outline: none;

    &:focus {
        border-color: var(--border-accent);
        box-shadow: 0 0 0 3px var(--bg-accent-focus);

        .chevronDown,
        .slidersHorizontal {
            stroke: var(--color-accent);
        }
    }

    &:hover {
        border-color: var(--border-accent);
        box-shadow: 0 0 0 3px var(--bg-accent-focus);
    }

    .dropdownTitleWrapper {
        display: flex;
        align-items: center;

        .dropdownTitle {
            color: var(--color-primary);
            font-size: 1.6rem;
            font-weight: 600;
            letter-spacing: .1rem;
        }

        .chevronDown {
            position: absolute;
            right: 10px;

            stroke: var(--arrow);

            transition: all .2s ease;

            &.open {
                transform: rotate(180deg);
            }
        }
    }
}

.listItem {
    position: absolute;
    left: 0;
    top: 45px;
    z-index: 1000;

    width: 100%;
    max-height: 210px;
    overflow: hidden;
    overflow-y: auto;

    background-color: var(--bg-primary);
    border-radius: 1.2rem;
    border: 1px solid var(--border);

    visibility: hidden;

    &.open {
        visibility: visible;
    }

    &, .label {
        cursor: pointer;
    }

    .item {
        color: var(--color-primary);
        padding: .8rem;

        .label {
            vertical-align: baseline;
            font-size: 1.6rem;
            padding-left: 1rem;
        }

        &:hover, .label:hover {
            background-color: var(--bg-hover-select);
            color: #ffffff;
        }
    }
}