@use "../../../../shared/styles/abstracts/text-styles" as text-styles;

.movieCard {
    height: 600px;
    max-height: 440px;

    cursor: pointer;
}

.cover {
    position: relative;

    max-height: 440px;

    .cardImg {
        width: 100%;
        height: 100%;
    }

    .rating {
        position: absolute;
        right: 0;

        color: yellow;
    }
}

.cardDescription {
    border: 1px solid var(--border);

    .wrapperTitle {

        .cardTitle {

        }

        .yearOfRelease {

        }
    }

    .genresWrapper {

        .genres {

        }
    }

    .description {

    }

    .btnsContainer {

        .btnMore {

            .iconEye {

            }
        }

        .btnEditMovieCard {

            .iconPencil {

            }
        }

        .btnDeleteMovieCard {

            .iconTrash2 {

            }
        }
    }
}

