@use "../../styles/abstracts/text-styles" as text-styles;

.collapseExpandBtn {
  width: 16px;
  height: 16px;
}

.signInBtn {
  height: 40px;
  width: 100%;
  background-color: var(--bg-accent);
  border-radius: 0.5rem;
  color: var(--color-primary);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.8rem 1.6rem;
  margin-top: 0.8rem;
  cursor: pointer;

  transition: background-color 0.2s ease-in-out;
}

.confirmInputBtn {
  border-radius: 0 0.8rem 0.8rem 0;
  background-color: var(--button);

  padding: 0 1.3rem;

  transition: background-color 0.1s ease-in-out;

  cursor: pointer;

  &:hover {
    background-color: var(--button-hover);
  }
}

.regBtn {
  width: 100%;
  border-radius: 0.5rem;

  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-category);

  padding: 0.6rem 1.2rem;

  cursor: pointer;

  &.active {
    background-color: var(--bg-primary);
    color: var(--color-primary);
  }
}

.logoutBtn {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  width: 100%;

  @include text-styles.text-small-danger;

  padding: 1.4rem 1.4rem;

  &:hover {
    background-color: var(--bg-hover-primary);
  }
}

.headerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 38px;
  border-radius: 100%;
  padding: 0.8rem;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: var(--bg-hover-primary);
  }
}

.btnLayoutControls {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.5rem;
  padding: 0.5rem;

  &:hover {
    background-color: var(--bg-hover-secondary);
  }

  &.active {
    background-color: var(--bg-accent);
  }
}

.btnAddMovie {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-height: 35px;
  min-width: 100px;

  background-color: var(--bg-accent);
  border-radius: 0.5rem;

  @include text-styles.text-label-dark;
  white-space: nowrap;

  padding: 0.8rem;

  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: var(--button-hover);
  }
}

.btnFiltersControl {
  width: 100%;
  text-align: start;

  padding: 1rem 4.8rem 1rem 4.5rem;
}

.btnFilter {
  display: flex;
  width: 100%;
  min-width: 0;

  padding: 1rem 3.2rem 1rem 1.6rem;
}

.btnResetAll {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
  max-height: 40px;

  @include text-styles.text-label-dark;

  border: 1px solid var(--border);
  border-radius: 0.5rem;
  background-color: var(--bg-accent);

  padding: 1rem 1.6rem;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--button-hover);
  }
}

.btnMore {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  @include text-styles.text-small-muted-semibold;

  border-radius: 0.5rem;

  padding: 1rem 0.6rem;

  transition: all 0.2s ease;

  &:hover {
    background-color: var(--bg-hover-primary);

    color: var(--color-muted-hover);

    .iconEye {
      stroke: var(--color-muted-hover);
    }
  }

  .iconEye {
    stroke: var(--color-muted);
  }
}

.btnDeleteMovieCard,
.btnEditMovieCard {
  width: 28px;
  height: 28px;

  border-radius: 0.5rem;

  transition: all 0.2s ease;

  &:hover {
    background-color: var(--bg-hover-primary);
  }
}

.btnAdd{
  display: flex;
  align-items: center;
  gap: .8rem;
  width: 100%;
  border-radius: .8rem;
  padding: .8rem 1.3rem;
  @include text-styles.text-small-accent;
  font-size: 1.4rem;
  border: 1px solid transparent;
  transition: background-color 0.1s linear;

  &:hover {
    background-color: var(--bg-hover-primary);
  }

  svg {
    stroke: var(--color-accent);
  }
}

.btnDeleteFolder,
.btnEditFolder {
  display: flex;
  align-items: center;
  margin: -10px 0;
  transition: all 0.2s ease;

  svg {
    stroke: var(--color-muted);
    transition: stroke 0.2s;

    &:hover {
      stroke: var(--color-danger);
    }
  }
}

.btnEditFolder {
  svg:hover {
    stroke: var(--color-primary);
  }
}