.container {
    padding: 2.4rem;
}

.header {
    display: flex;
    width: 100%;
    gap: 2.5rem;

    .titleWrapper {

        .title {
            color: var(--color-primary);
            font-size: 2.4rem;
            font-weight: 600;
        }

        .description {
            color: var(--color-muted);
            font-size: 1.6rem;

            padding-top: .4rem;
        }
    }

    .selectWrapper {
        display: flex;
        align-items: center;
        gap: 2.5rem;
    }
}

