@use "../../../shared/styles/abstracts/variables" as var;

.wrapper {
    position: relative;
    width: clamp(80px, 100%, 400px);

    .input {
        width: 100%;
        height: 38px;
        border-radius: .5rem;
        border: 1px solid var(--border);
        background-color: var(--input);

        color: var(--color-primary);
        font-weight: bold;
        font-size: 1.125em;

        padding: .5rem 1rem .5rem 2.5rem;

        transition: outline-color .2s ease-in-out;
        outline: 1px solid transparent;

        &:focus {
            outline: 1px solid var(--input-focus);
        }

        &::placeholder {
            letter-spacing: .125em;
            font-size: 1rem;
        }

    }
}

.searchSvg {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    stroke: #9CA3AF;
}