@use "../abstracts/text-styles" as text-styles;

@mixin filter {
    border: 1px solid var(--border);
    border-radius: 1.2rem;
    cursor: pointer;

    transition: border-color, box-shadow, stroke 0.3s ease;

    &:focus,
    &:focus-within {
        border-color: var(--border-accent);
        box-shadow: 0 0 0 3px var(--bg-accent-focus);

        .chevronDown,
        .slidersHorizontal {
            stroke: var(--color-accent);
        }
    }

    &:hover {
        border-color: var(--border-accent);
        box-shadow: 0 0 0 3px var(--bg-accent-focus);
    }

    .chevronDown {
        position: absolute;
        top: 8px;
        right: 10px;

        stroke: var(--arrow);

        transition: transform 0.2s ease;

        &.open {
            transform: rotate(180deg);
        }
    }

    .slidersHorizontal {
        position: absolute;
        left: 10px;
        top: 8px;
        stroke: var(--sliders-horizontal);
    }

    .titleWrapper,
    .title {
        @include text-styles.text-medium-semibold-spaced;
    }
}

@mixin filterMenu {
    position: absolute;
    top: 45px;
    left: 0;

    width: 100%;
    border-radius: 1.2rem;
    border: 1px solid var(--border);
    background-color: var(--bg-primary);

    visibility: hidden;

    &.open {
        visibility: visible;
    }
}
