@use "../../../../shared/styles/abstracts/text-styles" as text-styles;

.container {
    overflow-y: scroll;
    height: 100%;
}

.navContainer {
    max-width: clamp(100px, 100%, 1280px);
    margin: 0 auto;
    padding: 2.4rem;
}

.navSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

hr {
    width: 100%;
    border-bottom: 1px solid var(--border);

    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
}



