$light-theme: (
    color-primary: #0c0a09,
    color-muted: #6b7280,
    color-danger: #ef4444,

    color-muted-hover: #2563eb,

    bg-primary: #fafafae6,
    bg-secondary: #ffffff,
    bg-accent: #f3f4f6,

    bg-hover-primary: #f5f4f4,

    card: #ffffff,
    input: #f4f5f5cc,
    input-focus: #9b56f0,

    border: #e4e4e7,

    bg-button-primary: #1f94f3,
    
    logo: #2094f3,
);

$dark-theme: (
    color-primary: #fafafa,
    color-muted: #9ca3af,
    color-danger: #ef4444,

    color-muted-hover: #60a5fa,

    bg-primary: #09090b,
    bg-secondary: #202938,
    bg-accent: #374151,

    bg-hover-primary: #27272a,

    card: #09090b,
    input: #212124,
    input-focus: #9b56f0,

    border: #27272a,

    bg-button-primary: #1f94f3,

    logo: #2094f3,
);