@use "../../../../shared/styles/abstracts/text-styles" as text-styles;

.modal {
    display: flex;
    flex-direction: column;
    max-height: 90vh;

    overflow: hidden;

    width: clamp(200px, 100%, 600px);

    background-color: var(--bg-primary);
    border: 1px solid var(--border);
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;

    .modalTitle {
        color: var(--color-primary);
        font-size: 1.8rem;
    }

    .iconX {
        stroke: var(--color-primary);
    }
}

.modalBody {
    height: 100%;
    overflow-y: auto;

    padding: 1rem 2rem;

    .formMain {
        display: flex;
        gap: 1.5rem;

        margin-bottom: 2rem;

        .formGroupWrapper {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            width: 100%;

            .formGroupRow {
                display: flex;
                gap: 1rem;
            }
        }
    }

    .wrapperTextarea {
        width: 100%;
        min-width: 100px;
    }
}

.modalFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;

    padding: 1rem 2rem 1rem 2rem;
}