@use "@/shared/styles/abstracts/text-styles" as text-styles;

.header {
    position: sticky;
    top: 0;
    background-color: var(--bg-primary);
    padding: 1.2rem 20.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
    border-bottom: 1px solid var(--border);
}

.titleWrapper {
    display: flex;
    align-items: center;
    gap: .8rem;

    padding-right: .8rem;

    .logoSvg {
        stroke: var(--logo);
    }

    .title {
        font-size: 2.4rem;

        background: linear-gradient(
                to right,
                hsl(267 84% 64%),
                hsl(290 82% 62%),
                hsl(330 81% 60%)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 1.6rem;

    .wrapper {
        position: relative;
        width: clamp(100px, 100%, 400px);
    }

    .searchSvg {
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        stroke: #9CA3AF;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 38px;
        border-radius: 100%;

        padding: .8rem;

        transition: background-color .1s ease-in-out;



        &:hover {
            background-color: var(--bg-hover-primary);
        }
    }

    .language {
        @include text-styles.text-small-semibold-uppercase;
    }
}

.sunSvg {
    stroke: #e9e6e6;
}