@use "../../../shared/styles/abstracts/variables" as var;

.headerContainer {
    position: sticky;
    top: 0;

    background-color: var(--bg-primary);
    padding: .75rem 1rem;
    width: 100%;

    border-bottom: 1px solid var(--border);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 11.563rem;
}

.titleWrapper {
    display: flex;
    align-items: center;
    gap: .5rem;

    padding-right: 0.5rem;

    .logoSvg {
        stroke: var(--logo);
    }

    .title {
        background: linear-gradient(
                to right,
                hsl(267 84% 64%),
                hsl(290 82% 62%),
                hsl(330 81% 60%)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 1rem;

    .wrapper {
        position: relative;
        width: clamp(100px, 100%, 400px);
    }

    .searchSvg {
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        stroke: #9CA3AF;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 38px;
        border-radius: 100%;

        padding: .5rem;

        transition: background-color .1s ease-in-out;

        cursor: pointer;

        .sunSvg {
            stroke: #e9e6e6;
        }

        &:hover {
            background-color: var(--bg-hover-primary);
        }
    }

    .language {
        color: var(--color-primary);
        text-transform: uppercase;
        font-weight: bold;
    }

    .avatar {
        width: 38px;
        height: 38px;
        border-radius: 100%;

        cursor: pointer;
    }
}